

<!-- Updated at 22:51:13 2017-12-13 -->

<ol class='card-list'>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 12-12-2017 <br />
    <strong>Review By Aditya G. in Marlborough, MA</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>These guys are very good at what they do. They are very courteous and professional. What I loved the most is they not only recommended what kind of sound system I will be needing but were also kind enough to help me select one and get it installed on the same day. I would highly recommend them for any entertainment system needs.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 11-16-2017 <br />
    <strong>Review By James E. in Rochester, NH</strong>
    <strong>Project: Install, Repair, or Conceal Home Theater Wiring</strong>
    <p>If you need anything done in regard to home entertainment systems and wiring etc you should most definitely call New England Data. They are not only great at what they do but are very professional and super friendly. I highly recommend them and would rehire them in a heartbeat. Great job guys!!!!</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 10-18-2017 <br />
    <strong>Review By Mary ellen C. in Waban, MA</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p></p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 09-19-2017 <br />
    <strong>Review By Naftal G. in Manchester, NH</strong>
    <strong>Project: Repair or Service a Home Theater System or Media Center</strong>
    <p>Very courteous, professional and came on time!</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 4.5 } %> | 08-02-2017 <br />
    <strong>Review By Bruce L. in Peterborough, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Very quick to respond and scheduled the work the same week</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 06-07-2017 <br />
    <strong>Review By a homeowner in Merrimack, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>David came within hours of my call.  He was professional and efficient and did a great job.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 06-04-2017 <br />
    <strong>Review By Wilma M. in Deerfield, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>They started working immediately and continued until job was done.  Very approachable answering questions.  Highly recommend this company.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 05-21-2017 <br />
    <strong>Review By a homeowner</strong>
    <p>They were very helpful and friendly. I highly recommend them and would use them again.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 05-08-2017 <br />
    <strong>Review By Kathleen P. in Plaistow, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Tim and David were prompt, professional, and courteous!  They  mounted two large TV's for us and they look great.  Reprogramed remotes and made sure everything was satisfactory!  They also removed some chains from our vaulted ceiling fan!  Would definitely use them again and would highly recommend them!</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 05-04-2017 <br />
    <strong>Review By Errol S. in Stoneham, MA</strong>
    <strong>Project: Install, Upgrade or Repair Computer Network or Wiring</strong>
    <p>They came on time , rewired my current cable system, did a perfect job and the price was right. I added some work that I did not originally ask for but they did that too and as an added bonus they were polite and courteous.
What more can you ask for??</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 03-20-2017 <br />
    <strong>Review By Bill C. in Bedford, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Very professional, well prepared and trustworthy.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 03-15-2017 <br />
    <strong>Review By Tim B. in New Boston, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Awesome professional service!</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 03-13-2017 <br />
    <strong>Review By Rick S.</strong>
    <p>Timothy is fantastic. He's mounted a few TV's for me, has prompt response, and does great work.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 01-06-2012 <br />
    <strong>Review By Doreen B. in Pepperell, MA</strong>
    <strong>Project: Install or Replace a Home Theater System or Media Center</strong>
    <p>Tim did a great job and I would highly recommend him</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 4.5 } %> | 10-20-2011 <br />
    <strong>Review By Tom S. in Westford, MA</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Tim very good ,had every extra thing needed in his van very prepared.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 06-20-2011 <br />
    <strong>Review By Jim O. in Amherst, NH</strong>
    <strong>Project: Install or Replace a Home Theater System or Media Center</strong>
    <p>I hired this company to hide the speaker wires for the surround sound.  The install looks fantastic!  The job turned out to be tougher than expected, but Tim promptly returned to finish the job.  He also helped me by providing a "tour" of the system and uncovered features that I did not know I had -- this guy knows his stuff.  A very helpful, courteous and professional outfit.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 4.83 } %> | 06-15-2011 <br />
    <strong>Review By Chris W. in Hollis, NH</strong>
    <strong>Project: Install Home Theater Surround Sound System</strong>
    <p>Tim is a good guy who cares about the work performed as well as what the customer wants. He is willing to provide recommendations where needed. Personally, I will be looking to him for a few additional projects.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 4.33 } %> | 03-21-2011 <br />
    <strong>Review By Jeffrey W. in Nashua, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Very professional and  courteous. Extremely considerate of customer's preferences.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 02-20-2011 <br />
    <strong>Review By a homeowner in North Chelmsford, MA</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>The service was great.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 12-24-2010 <br />
    <strong>Review By Tim H. in Brookline, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>Tim did an excellent job!  He was responsive to my initiatl inquiry, arrived when he said he would, was careful and performed the job as promised.  I would highly recommend Tim to any of my friends and neighbors and anyone else looking to have their TV mounted on the wall.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 4.0 } %> | 12-16-2010 <br />
    <strong>Review By Prince N. in Nashua, NH</strong>
    <strong>Project: Install, Repair, or Conceal Home Theater Wiring</strong>
    <p>Tim is such a good guy that gave me what l wanted in sound, he did a clean job that made me and wife very happy, he cleaned up after his work, call me number of times to know if l am satisfied with the sound, when l had problem, he came over and fixed it, l will be very proud to introduce him to any any body whom might need his service, Tim, please keep the good job.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 05-14-2010 <br />
    <strong>Review By Rob D. in Pepperell, MA</strong>
    <strong>Project: Repair, Upgrade or Troubleshoot Computers</strong>
    <p>I've been having difficulties with my laptop's operating speed for quite some time. I found Service Magic and submitted my repair request. Within minutes of that request, Tim from New England Data Tech called to inquire about the severity of my problem. He was very professional and courteous throughout our conversation and assured me that my problem would easily be corrected. Tim was prompt and came to my house that very same day to diagnois my problem. He returned my laptop the very next day and to my delight it operated like new again. I am very pleased with Tim's expertise and highly recommend his services to anyone.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 4.0 } %> | 04-17-2010 <br />
    <strong>Review By a homeowner in Amherst, NH</strong>
    <strong>Project: Install or Replace a Home Theater System or Media Center</strong>
    <p>Tim was prompt in initially contacting us and coming to our house to giving us an estimate. We chose him for the project and he was punctual in starting the work. His work and clean up was exceptional neat and clean. The only draw back was the actual time that he worked exceeded his estimate but I was happy to pay the difference.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 12-11-2009 <br />
    <strong>Review By a homeowner in Bedford, NH</strong>
    <strong>Project: Mount TV on Wall</strong>
    <p>very professional, flexible and did a great job!</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 4.0 } %> | 11-30-2009 <br />
    <strong>Review By Catherine T. in Newton, MA</strong>
    <strong>Project: Repair a Telephone System</strong>
    <p>Tim was very helpful.  He tried to fix our problem, but couldn't - so he found someone else who could and met with the new person to explain our problem.  He didn't charge us anything.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 11-28-2009 <br />
    <strong>Review By Aileen S. in Wakefield, MA</strong>
    <strong>Project: Repair TV or Home Theater Accessory</strong>
    <p>Tim arrived on time, was polite and courteous.  He found the problem with a receiver and speakers very quickly and took the time to explain things we didn't understand.  We will no doubt use Tim again in the future when we move and would highly recommend him to friends and family.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 11-27-2009 <br />
    <strong>Review By Tom L. in Nashua, NH</strong>
    <strong>Project: Install or Replace a Home Theater System or Media Center</strong>
    <p>Tim called me the very day that I posted my request!  He fit me into his schedule the following day.  I was extremely satisfied with the work he performed.  Tim was very professional and curteous.  Tim is in my contact book and will hire Tim for any of my Tech needs in the future.  Thanks Tim!</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 11-23-2009 <br />
    <strong>Review By Leonore K. in Tewksbury, MA</strong>
    <strong>Project: Install Home Theater Accessory</strong>
    <p>Tim was on time and made sure he corrected the problem, even thought it took 3 trips to my house.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 11-14-2009 <br />
    <strong>Review By Barbara Q. in Chelmsford, MA</strong>
    <strong>Project: Repair TV or Home Theater Accessory</strong>
    <p>Called promptly made appointment very quickly.</p>
  </li>
  <li class='home-advisor-card'>
    <%= render partial: 'star_rating', locals: { rating: 5.0 } %> | 10-29-2009 <br />
    <strong>Review By Rick S.</strong>
    <p>He was excellent, showed up, professional, on time ,so polite, he was great. I would use him again.</p>
  </li>
</ol>