<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table border="1">
  <thead>
    <tr>
      <th style="text-align:center">Rating</th>
      <th style="text-align:center">Customer name</th>
      <th style="text-align:center">Location</th>
      <th style="text-align:center">Comment</th>      
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td nowrap style="text-align:center">
          <div id="test">
            <% review.rating.to_i.times do |rating| %>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <% end %>
            <% if review.rating % 1 != 0 %>
              <span class="glyphicon glyphicon-star glyphicon-half" aria-hidden="true"></span>
            <% end %>
          </div>
        </td>
        <td style="text-align:center"><%= review.first_name + review.last_initial %></td>        
        <td style="text-align:center"><%= review.location %></td>
        <td style="text-align:center"><%= review.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
