<%= form_for(image) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">    
    <%= f.fields_for :albums_images do |ff| %>
      <%= ff.label :album %>
      <% ff.text_field :name %>
      <%= ff.select(:album_id, options_from_collection_for_select(Album.all, "id", "name")) %>
    <% end %>
    
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
